<div class="list-item">

    {% set header_image = page.header.header_image|defined(true) %}
    {% set header_image_width  = page.header.header_image_width|defined(900) %}
    {% set header_image_height = page.header.header_image_height|defined(300) %}
    {% set header_image_file = page.header.header_image_file %}

    <div class="list-blog-header">

<div class="heading-title">
              <h3>{{ page.title }}</h3>
               </div>

    </div>

    <div class="list-blog-padding">

        {% if page.header.continue_link is same as(false) %}
            <p>{{ page.content|raw }}</p>
            {% if not truncate %}
                {% set show_prev_next = true %}
            {% endif %}
        {% elseif truncate and page.summary != page.content %}
            <p>{{ page.summary|raw }}</p>
            <p><a href="{{ page.url }}">Continue Reading...</a></p>
        {% elseif truncate %}
            {% if page.summary != page.content %}
                <p>{{ page.content|truncate(550) }}</p>
            {% else %}
                <p>{{ page.content|raw }}</p>
            {% endif %}
            <p><a href="{{ page.url }}">Continue Reading...</a></p>
        {% else %}
            <p>{{ page.content|raw }}</p>
            {% set show_prev_next = true %}
        {% endif %}

        {% if show_prev_next %}
            <p class="text-center mt-4">
                {% if not page.isFirst %}
                    <a class="btn btn-primary" href="{{ page.nextSibling.url }}"><i class="fa fa-chevron-left"></i> Next Item</a>
                {% endif %}

                {% if not page.isLast %}
                    <a class="btn btn-primary" href="{{ page.prevSibling.url }}">Previous Item <i class="fa fa-chevron-right"></i></a>
                {% endif %}
            </p>
        {% endif %}

    </div>
</div>
